@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
mcontainer {
    display: block;
    min-height: 600px;
    position: relative;
}
th {
    text-align: center;
}
.clear-both {
    clear: both;
}
.theme-color {
    color: #ff3333;
}
.theme-background-color {
    color: #fff;
    background-color: #ff3333;
}
.medium-grey {
    color: #999;
}
.med-dark-grey {
    color: #666;
}
.gothic {
    font-family: "NanumBarunGothic", sans-serif;
}
.text-12 {
    font-size: 12px !important;
}
.text-13 {
    font-size: 13px !important;
}
.text-14 {
    font-size: 14px !important;
}
.text-15 {
    font-size: 15px !important;
}
.text-16 {
    font-size: 16px !important;
}
.text-18 {
    font-size: 18px !important;
}
.text-20 {
    font-size: 20px !important;
}
.text-24 {
    font-size: 24px !important;
}
.text-28 {
    font-size: 28px !important;
}
.text-11-bold {
    font-size: 11px !important;
    font-weight: bold;
}
.text-12-bold {
    font-size: 12px !important;
    font-weight: bold;
}
.text-13-bold {
    font-size: 13px !important;
    font-weight: bold;
}
.text-14-bold {
    font-size: 14px !important;
    font-weight: bold;
}
.text-15-bold {
    font-size: 15px !important;
    font-weight: bold;
}
.text-16-bold {
    font-size: 16px !important;
    font-weight: bold;
}
.text-18-bold {
    font-size: 18px !important;
    font-weight: bold;
}
.text-20-bold {
    font-size: 20px !important;
    font-weight: bold;
}
.text-24-bold {
    font-size: 24px !important;
    font-weight: bold;
}
.text-28-bold {
    font-size: 28px !important;
    font-weight: bold;
}
.container-1 {
    margin: 0 auto;
    padding: 20px;
}
.pointer {
    cursor: pointer;
}
.white {
    color: #fff;
}
.division-text {
    float: left;
    cursor: default;
}
.division-line {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
}
.theme-division-line {
    border-bottom: 2px solid #ff3333;
    width: 100%;
    margin: 0 auto;
}
.strong-division-line {
    border-bottom: 2px solid #888;
    width: 100%;
    margin: 0 auto;
}
.normal-text,
.normal-text-change {
    font-size: 21px;
    color: #555;
    user-select: none;
}
.label-text {
    font-size: 17px;
    color: #555;
    user-select: none;
}
.middle {
    margin-left: auto;
    margin-right: auto;
}
.small-button {
    width: 70px;
    height: 35px;
    background-color: #555;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.small-form {
    height: 35px;
    width: 90px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.text-center {
    text-align: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.display-none {
    display: none;
}
.normal-box-20 {
    margin-bottom: 20px;
    display: block;
}
.normal-box-40 {
    margin-bottom: 40px;
    display: block;
}
.normal-box-60 {
    margin-bottom: 60px;
    display: block;
}
.normal-box-120 {
    margin-bottom: 120px;
    display: block;
}
.white-normal-box {
    display: block;
    background-color: #fff;
}
.white-normal-box-20 {
    margin-bottom: 20px;
    display: block;
    background-color: #fff;
}
.white-normal-box-40 {
    margin-bottom: 20px;
    display: block;
    background-color: #fff;
}
.white-normal-box-60 {
    margin-bottom: 60px;
    display: block;
    background-color: #fff;
}
.white-normal-box-120 {
    margin-bottom: 120px;
    display: block;
    background-color: #fff;
}
.flex-box {
    display: flex;
}
.flex-box-20 {
    margin-bottom: 20px;
    display: flex;
}
.flex-box-60 {
    margin-bottom: 60px;
    display: flex;
}
.flex-box-120 {
    margin-bottom: 120px;
    display: flex;
}
.inverse-but {
    cursor: pointer;
    color: #fff;
    background-color: #666;
    border-right: 1px solid #444;
    cursor: pointer;
    color: #fff;
    background-color: #666;
    float: left;
    text-align: center;
}
.inverse-but-left {
    cursor: pointer;
    color: #fff;
    background-color: #666;
    float: left;
    border-right: 1px solid #444;
    text-align: center;
}
.but {
    cursor: pointer;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}
.but-left {
    cursor: pointer;
    color: #666;
    background-color: #fff;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}
.pop-on {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.sidebar-mobile {
    margin-bottom: 50px;
}
.check-box {
    width: 17px;
    height: 17px !important;
    border: 2px solid #555 !important;
    border-radius: 3px;
    float: left;
}
.navbar-wrapper {
    height: 60px;
    background-color: #fff;
    min-width: 300px;
}
.navbar-wrapper.scrolling {
    background-color: rgba(255, 255, 255, 0.5);
}
.page-logo {
    width: 110px;
    height: auto;
    margin: 0 auto;
    top: -2px;
    position: relative;
}
.left-but-container {
    padding-left: 10px;
}
.right-but-container {
    padding-right: 10px;
}
.page-logo-img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}
.navbar-left {
    float: left;
}
.navbar-right {
    margin-right: 0;
    float: right;
}
.navbar-fixed-top {
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
}
.page-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 60px;
    margin-left: 0px;
    max-width: 100%;
}
.page-container.toggled {
    margin: 60px 0 0 200px;
}
#shopping-cart-but {
    padding-left: 0;
}
.navbar-button {
    font-size: 30px;
    color: #989898;
    padding: 15px 10px 0 10px;
    float: left;
}
.navbar-button:hover {
    cursor: pointer;
}
.carousel-indicators li {
    margin: 3px;
    border: 2px solid rgba(255, 255, 255, 0.7);
}
.carousel-indicators .active {
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.7);
}
.hot-goods-preview {
    margin-top: 30px;
    padding: 0 15px 0 15px;
    user-select: none;
    cursor: default;
}
.preview-track-desc-wrap {
    margin: 0 auto;
    width: 400px;
    height: 60px;
}
.fixed-img {
    width: 100%;
}
.preview-track-line {
    width: 100%;
    border-top: 4px double black;
    margin: 0 auto;
}
.hot-goods-preview .preview-track-name {
    margin: 0 auto;
    background-color: #efefef;
    width: 110px;
    position: relative;
    top: -33px;
}
.cat-title .preview-track-name {
    margin: 0 auto;
    background-color: #efefef;
    width: 120px;
    position: relative;
    top: -33px;
}
.hot-goods-preview .preview-track-desc {
    top: -33px;
    position: relative;
}
.hot-goods-preview .goods-preview-container,
.cat-body .goods-preview-container {
    background-color: #fff;
    display: inline-block;
}
.goods-box a {
    display: block;
}
.new-mark {
    width: 60px;
    height: 35px;
    background-color: rgba(255, 51, 51, 0.8);
    position: absolute;
    left: 3;
    top: 6;
    z-index: 1;
    color: #fff;
    text-align: center;
    line-height: 38px;
    border-radius: 0 6px 6px 0;
}
.new-mark:hover {
    color: #fff;
}
.goods-wrap {
    float: left;
}
.goods-box {
    border: 1px solid #edefed;
    padding: 3px;
    margin: 4px;
    position: relative;
}
.goods-title {
    margin-top: 9px;
    margin-left: 4px;
}
.goods-title a {
    color: #555;
    font-weight: bold;
    font-size: 13px;
    font-family: "NanumSquare", sans-serif;
}
.goods-title a:hover {
    color: #555;
    text-decoration: none;
}
.goods-grade {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.goods-grade span {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: -1px;
}
.full-star {
    background: url("../img/full-star.png") no-repeat center;
    background-size: 100%;
}
.half-star {
    background: url("../img/half-star.png") no-repeat center;
    background-size: 100%;
}
.no-star {
    background: url("../img/no-star.png") no-repeat center;
    background-size: 100%;
}
.goods-review-count {
    font-size: 12px;
    color: #666;
    display: inline-block;
}
.goods-price {
    font-size: 13px;
    margin-left: 4px;
}
body {
    background-color: #f3f3f3;
    font-family: "NanumSquare", sans-serif;
    user-select: none;
}
#footer {
    height: 200px;
    margin-top: 60px;
    background-color: #222;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
.footer-title {
    font-size: 15px;
}
.footer-normal-text {
    color: #999;
    font-size: 12px;
    display: block;
}
.footer-normal-text:hover {
    color: #999;
}
.time-call-info {
    width: 30%;
    float: left;
}
.service-info {
    width: 30%;
    float: left;
}
.company-info {
    width: 40%;
    float: left;
}
#main-img-viewer .item img {
    width: 100%;
}

.login-container {
    margin: 0 auto;
    margin-top: 80px;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding-bottom: 20px;
}

.form-main {
    margin-top: 15px;
    width: 300px;
    margin: 0 auto;
}
.form-member {
    clear: both;
    height: 70px;
    padding-top: 10px;
}
.label-form-member {
    clear: both;
    height: 100px;
    padding-top: 10px;
}
#pass-finding-phone .label-form-member,
#pass-finding-email .label-form-member {
    padding-top: 0;
}
.form-member .normal-form,
.label-form-member .normal-form {
    float: left;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.email-form {
    float: left;
    width: 44%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 5px;
}
.email-form:first-of-type {
    margin-right: 5px;
    margin-left: 0px;
}
.login-container {
    margin-bottom: 8px;
}
#login-submit {
    margin-bottom: 8px;
}
#kakao-login-btn {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 49px;
}
.login-container .main-but {
    width: 300px;
    height: 50px;
    border: 2px solid #666;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 17px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
    color: #ff3333;
    border-color: #ff3333;
    margin-top: 20px;
}

.main-but:hover {
    background-color: #ff3333;
    color: #fff;
}
.method-select {
    position: relative;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 35px;
    display: table;
    height: 20px;
}
.method-select div {
    float: left;
    user-select: none;
    cursor: pointer;
    font-size: 15px;
    margin-right: 8px;
}
#save-login-info {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    margin-bottom: 9px;
    font-size: 13px;
    width: 120px;
}
.find-title {
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: 0 auto;
    display: table;
}
.normal-but {
    width: 60%;
    height: 40px;
    border: 2px solid #666;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
}
.normal-but:hover {
    background-color: #333;
    color: #fff;
}
.normal-but.blue-theme {
    background-color: #064206;
    color: #fff;
}
.small-but {
    width: 25%;
    height: 45px;
    border: 2px solid #666;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
}
.small-but:hover {
    background-color: #064206;
    color: #fff;
}

.sidebar-caret {
    width: 0;
    border-top: 7px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin: 0 auto;
    top: 17px;
    position: relative;
    display: block;
}
.open > a {
    background-color: #538206 !important;
}
.dropdown-menu {
    display: none;
}
.dropdown-menu div {
    color: #eee;
    padding: 5px 15px 5px 15px;
    user-select: none;
    cursor: pointer;
    width: 100%;
}
.dropdown-menu.toggled {
    display: block;
}
.dropdown-menu div:hover {
    background-color: #555;
}
.dropdown-content {
    font-family: "NanumSquare", sans-serif;
    font-size: 13px;
}
.sidebar-menu-container {
    position: absolute;
    bottom: 120px;
}
#main-navbar.toggled {
    background-color: #fff;
}
.cat-header {
    margin-top: 130px;
}
.cat-body {
    user-select: none;
}
.cat-select-sub {
    width: 100%;
    display: flex;
    padding-bottom: 6px;
    border-bottom: 1px solid #aaa;
}
.cat-sub:first-child {
    margin-left: 80px;
}
.cat-sub {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    font-family: "NanumSquare", sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.cat-sub:hover {
    color: #888;
}
.cat-sub.selected,
.order-type.selected {
    color: #ff3333;
    cursor: default;
}
.goods-count {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    font-family: "NanumSquare", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}
.goods-count strong {
    color: #ff3333;
}
.goods-ordering {
    height: 50px;
    margin-right: 15px;
    float: right;
}
.order-type {
    font-family: "NanumSquare", sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    user-select: none;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}
.login-container #sign-in-but {
    padding-left: 8px;
    margin-top: 10px;
    font-size: 15px;
    color: #0099cc;
    user-select: none;
    cursor: pointer;
    width: 240px;
    font-weight: bold;
}
.register-step-container {
    margin: 120px auto 0 auto;
    display: block;
    width: 609px;
    height: 80px;
}
.register-step:first-child,
.register-step:nth-child(2) {
    border-right: 3px solid #777;
}
.register-step {
    float: left;
    padding: 15px 0 15px 20px;
    width: 200px;
    background-color: #fff;
    font-family: "NanumSquare", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.register-step.current {
    background-color: #ff3333;
}
.step-img {
    width: 48px;
    height: 48px;
}
.normal-container1 {
    background-color: #fff;
    width: 767px;
    margin: 30px auto 0 auto;
    user-select: none;
    padding-bottom: 15px;
}
.terms-container {
    background-color: #fff;
    width: 767px;
    margin: 30px auto 0 auto;
    user-select: none;
    padding-bottom: 15px;
}
.terms-title {
    background-color: #ff3333;
    color: #fff;
    font-family: "NanumSquare", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 16px;
    width: 100%;
    height: 55px;
}
.terms-contents {
    overflow-y: scroll;
    height: 220px;
    width: calc(100% - 50px);
    margin: 25px auto 0 auto;
    border: 1px solid #eee;
    white-space: pre-line;
}
.terms-div {
    margin-top: 10px;
    margin-left: 24px;
    cursor: pointer;
    display: flex;
}
.go-page {
    margin: 20px auto 25px auto;
    width: 110px;
    height: 45px;
    background-color: #ff3333;
    color: #fff;
    text-align: center;
    padding-top: 11px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
#terms-1 {
    margin-bottom: 35px;
}
#terms-2 {
    margin-bottom: 25px;
}
.register-container {
    background-color: #fff;
    width: 767px;
    margin: 30px auto 0 auto;
    padding: 15px 20px 15px 20px;
    user-select: none;
}
.register-container .title {
    margin-bottom: 8px;
    font-weight: bold;
}
.register-container .form-member {
    height: 50px;
}
.form-member .left {
    width: 25%;
    float: left;
    padding-left: 30px;
    font-size: 13px;
    padding-top: 11px;
}
.form-member .right {
    width: 75%;
    float: left;
}
.form-member .medium-form {
    float: left;
    width: 55%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.check-img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.receive-container {
    padding-left: 180px;
    padding-top: 18px;
    display: table;
}
#sms-agress,
#email-agress {
    cursor: pointer;
    margin-bottom: 6px;
}
.goods-container {
    width: 1400px;
    margin: 0 auto;
    margin-top: 120px;
}
.goods-header {
    margin-bottom: 50px;
    float: left;
}
.goods-account-container {
    float: left;
    width: 460px;
    height: 620px;
    background-color: #fff;
    user-select: none;
}
.goods-img-viewer {
    float: left;
    width: 700px;
    height: 620px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}
.sidebar-goods-review-wrapper {
    position: fixed;
    background-color: #666;
    width: 1346px;
    margin-left: -640px;
    left: 50%;
    z-index: 1;
    right: 0;
    display: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 120px;
}
.sidebar-goods-review {
    width: 246px;
    right: 0;
    position: absolute;
    background-color: #fff;
}
.goods-preview-img {
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.goods-preview-img img {
    height: 100%;
    border-bottom: 1px solid #ccc;
}
.goods-preview-img-select {
    width: 100%;
    height: 140px;
    padding-top: 40px;
}
.preview-img-member:first-child {
    margin-left: 20px;
}
.preview-img-member {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.preview-img-member img {
    height: 100%;
}
#review-sidebar.on {
    display: block;
}
#review-sidebar.toggled {
    margin-left: -540px;
}
.goods-data {
    margin: 35px 105px 0 45px;
    padding: 5px;
}
.goods-data .member {
    margin-bottom: 12px;
    display: flex;
}
.goods-data .name {
    padding-bottom: 10px;
    border-bottom: 4px solid #aaa;
    margin-bottom: 20px;
}
.goods-data .left {
    width: 30%;
    padding-left: 6px;
    float: left;
    font-family: "NanumSquare", sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.goods-data .right {
    width: 70%;
    float: left;
    font-family: "NanumSquare", sans-serif;
    font-size: 13px;
}
.buy-count-table {
    width: 100px;
    height: 30px;
}
#buy-count {
    float: left;
    line-height: 30px;
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#buy-count-dec {
    width: 30px;
    height: 30px;
    background: url("../img/minus1.png");
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
}
#buy-count-inc {
    width: 30px;
    height: 30px;
    background: url("../img/plus1.png");
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
}
#buy-count-dec:hover {
    background: url("../img/minus2.png");
    border: 1px solid #ff3333;
}
#buy-count-inc:hover {
    background: url("../img/plus2.png");
    border: 1px solid #ff3333;
}
.option-dropdown {
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    padding: 5px 20px 0 10px;
}
.current-option {
    width: 105px;
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.dropdown > .dropdown-menu {
    margin-top: 0;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 150px;
    width: 150px;
}
.dropdown-menu > li {
    padding-left: 5px;
    font-size: 13px;
}
.caret {
    display: block;
    float: right;
    top: 7px;
    position: relative;
}
.price-result {
    margin: 25px 0 0 30px;
    width: 350px;
    height: 35px;
    margin-bottom: 20px;
}
.price-box {
    position: relative;
    top: -10px;
}
#price {
    display: inline-block;
    color: #ff3333;
    font-size: 28px !important;
}
#result-shopping-cart {
    background-color: #00aacc;
    color: #fff;
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    border: none;
    width: 170px;
}
#result-buy,
#go-buy-page {
    background-color: #ff6666;
    color: #fff;
    border: none;
    width: 170px;
    margin: 0 auto;
}
#result-shopping-cart:hover {
    background-color: #0077bb;
}
#result-buy:hover,
#go-buy-page:hover {
    background-color: #ff3333;
}
#empty-cart {
    background-color: #bbb;
    color: #fff;
    float: left;
    border: none;
    width: 170px;
    margin: 10px 0 30px 15px;
}
#empty-cart:hover {
    background-color: #666;
}
.goods-info {
    width: 1160px;
    clear: both;
}
#go-goods-info,
#go-goods-review,
#go-goods-inquiry {
    width: 300px;
    height: 35px;
    line-height: 33px;
    font-size: 13px;
    font-family: "NanumSquare", sans-serif;
    font-weight: bold;
}
#result-shopping-cart.but,
#result-buy.but {
    margin: 0;
    width: 130px;
    border: none;
    line-height: 33px;
}
#review-box,
#inquiry-box,
#shopping-cart-box {
    background-color: #fff;
    padding: 25px 35px;
    margin-top: 15px;
}
.table-header,
#review-box .member,
#inquiry-box .member {
    line-height: 34px;
    text-align: center;
}
.table-header {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    height: 35px;
}
.table-body {
    height: 35px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.row {
    margin: 0;
}
#goods-review-contents {
    margin-bottom: 110px;
}
.review-contents,
.inquiry-contents {
    clear: both;
    background-color: #eee;
    text-align: left;
    padding-left: 200px;
    padding-right: 100px;
    border-bottom: 1px solid #ccc;
    display: none;
}
.review-contents.open,
.inquiry-contents.open {
    display: block;
}
.pager {
    margin: 0 auto;
    background-color: #fff;
}
.page {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
}
.page.select {
    color: #ff3333;
    font-weight: bold;
}
.page:last-child {
    margin-right: 0;
}
#non-member-warn {
    width: 660px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#non-member-warn #sign-in-but,
#non-member-warn #register-user {
    width: 120px;
    height: 30px;
    line-height: 28px;
    margin: 0 auto;
}
.check-box-container {
    display: inline-block;
    cursor: pointer;
}
#shopping-cart-box {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#shopping-cart-box th {
    border-right: 1px solid #ccc;
}
#shopping-cart-box td {
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
#shopping-cart-box th:first-child,
#shopping-cart-box td:first-child,
#shopping-cart-box th:nth-child(3),
#shopping-cart-box td:nth-child(3),
#shopping-cart-box th:nth-child(4),
#shopping-cart-box td:nth-child(4),
#shopping-cart-box th:last-child,
#shopping-cart-box td:last-child {
    border-right: none;
}
#shopping-cart-box td:last-child {
    color: #ff3333;
    font-weight: bold;
}
#shopping-cart-box .buy-count-table {
    margin: 0 auto;
}
.cart-img {
    overflow: hidden;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}
.cart-img img {
    height: 100%;
}
.cart-goods-name {
    padding: 53px 0 0 15px;
    float: left;
}
.cart-container {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.delete-goods {
    width: 23px;
    height: 23px;
    border: 2px solid #555;
    border-radius: 3px;
    background: url("../img/delete.png");
    float: right;
    margin-top: 53px;
    margin-right: 35px;
    cursor: pointer;
}
.cart-but-container {
    display: block;
    width: 355px;
    height: 45px;
    margin: 0 auto;
    margin-top: 15px;
}
.cart-goods-wrap {
    width: 25%;
    float: left;
}
.result-price {
    width: 700px;
    height: 80px;
    border: 1px dashed #aaa;
    text-align: center;
    background-color: #eee;
    clear: both;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.order-table {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
thead th,
thead td {
    border-top: 2px solid #ff3333;
}
.order-table th {
    font-size: 12px;
    padding: 19px 0 19px 12px;
    text-align: left;
    background-color: #eee;
}
.order-table td {
    padding-left: 13px;
}
.order-table input {
    font-size: 13px;
    font-family: "NanumBarunGothic", sans-serif;
    padding-left: 5px;
    -webkit-transition: background 0.7s ease;
    -moz-transition: background 0.7s ease;
    -ms-transition: background 0.7s ease;
    transition: background 0.7s ease;
    background-color: #fff;
}
.order-table input:focus {
    background-color: #f0f5e0;
    box-shadow: none;
    border: 1px solid #ff3333;
    outline: 0;
}
.order-table input.normal {
    width: 170px;
    height: 32px;
}
.order-table input.number {
    width: 100px;
    height: 32px;
    text-align: center;
}
.order-table input.long {
    width: 360px;
    height: 32px;
    display: block;
}
.order-table tr {
    border-bottom: 1px solid #ccc;
}
#zip-code {
    margin-top: 10px;
    margin-bottom: 8px;
    height: 35px;
}
#zip-code #zip {
    float: left;
}
#zip-code input {
    cursor: pointer;
}
#zip-code-search,
#coupon-select {
    width: 110px;
    height: 32px;
    border: none;
    color: #fff;
    background-color: #666;
    float: left;
    line-height: 33px;
    margin-left: 8px;
}
#address1,
#address2 {
    margin-bottom: 10px;
}
#order-message {
    width: 500px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#discount-info {
    width: 900px;
}
#main-img-viewer {
    max-width: 700px;
    margin: 0 auto;
}
@media (max-width: 767px) {
    .normal-text-change {
        font-size: 16px;
    }
    #footer {
        height: 250px;
    }
    .preview-track-desc-wrap {
        width: 300px;
    }
    .navbar-wrapper {
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .navbar-button {
        font-size: 25px;
        padding-top: 9px;
    }
    .page-container {
        margin: 0 auto;
        margin-top: 40px;
        min-width: 300px;
        max-width: 100%;
    }
    .navbar {
        min-height: 40px;
    }
    .page-logo {
        width: 80px;
    }
    .page-logo-img {
        margin-top: 11px;
    }
    .page-container.toggled {
        margin: 0 auto;
        margin-top: 40px;
    }
    .left-but-container {
        padding-left: 8px;
    }
    .right-but-container {
        padding-right: 3px;
    }
    .goods-wrap {
        width: 50%;
    }
    .login-container {
        width: 100%;
    }
    .login-container #register-user,
    .find-account-id,
    .find-account-pass {
        width: 60%;
        height: 40px;
        border: 2px solid #666;
        margin: 0 auto;
        border-radius: 3px;
        text-align: center;
        line-height: 35px;
        font-size: 17px;
        font-weight: bold;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
        user-select: none;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .login-container #register-user {
        margin-top: 15px;
    }
    .login-container #find-account {
        margin-top: 9px;
    }
    .login-container #register-user:hover,
    .find-account-id:hover,
    .find-account-pass:hover {
        background-color: #333;
        color: #fff;
    }
    .display-n-m {
        display: none;
    }
    .form-main {
        width: 80%;
    }
}
@media (min-width: 768px) {
    .other-form {
        margin: 0 auto;
        margin-top: 20px;
        height: 25px;
        display: table;
    }
    .login-container #register-user {
        float: left;
        width: 56px;
        font-size: 14px;
        cursor: pointer;
        color: #0099cc;
    }
    .find-account {
        float: left;
        font-size: 14px;
        cursor: pointer;
        margin-left: 6px;
        color: #999;
        display: table;
    }
    .find-account-id,
    .find-account-pass {
        float: left;
    }
    .find-account-id:hover,
    .find-account-pass:hover {
        color: #333;
    }
    .login-container #register-user:hover,
    .login-container #find-account:hover {
        color: #333;
    }
    .display-n-m {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .goods-wrap {
        width: 33.3333%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .goods-wrap {
        width: 25%;
    }
    .terms-container {
        width: 992px;
    }
}
@media (min-width: 1200px) {
    .register-step {
        padding: 15px 0 15px 20px;
        width: 360px;
        background-color: #fff;
        font-family: "NanumSquare", sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    .register-step-container {
        margin: 120px auto 0 auto;
        display: block;
        width: 1089px;
        height: 80px;
    }
    .goods-wrap {
        width: 25%;
    }
    .terms-container {
        width: 1200px;
    }
}
